/*Подключение шрифтов*/

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Bold.woff);
	font-weight: 700;
	font-style: normal;
}
/*Сброс стилей*/

body,
ul,
p {
	margin: 0;
	padding: 0;
}
/*фон страницы*/

body {
	font-family: OpenSans, Arial, sans-serif;
	background-color: #ffffff;
}
/*скрытые элементы*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* стили header */

.header {
	position: relative;
	background-image: url("../images/banner-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.6;
}

.header-wrap {
	position: relative;
	z-index: 1;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 15px;
	box-sizing: border-box;	
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
	width: 180px;
	height: 40px;
	background: url(../svg/noemi-logo.svg) no-repeat;
	background-size: cover;
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
}

.menu-list-item {
	list-style-type: none;
}

.menu-list-item:nth-child(n+2) {
	margin-left: 35px;
}

.menu-link {
	font-weight: 400;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-link:hover {
	text-decoration: underline;
}

.adaptive-menu {
	display: none;
	flex-direction:column;
	justify-content: space-between;
	width: 23px;
	height: 19px;	
}
.adaptive-menu div {
	height: 3px;
	background-color: #ffffff;
}

.header-title {
	max-width: 800px;
	margin: auto;
	padding: 98px 0;
	font-weight: 700;
	font-size: 45px;
	line-height: 75px;	
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

/*section trends*/

.page-section-title {
	position: relative;
	margin: 0;
	padding: 55px 0 35px;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #0f0d0e;	
}

.page-section-title::after {
	position: absolute;
	content: "";
	top: 90px;
	left: 50%;
	width: 66px;
	height: 3px;
	background-color: #e1d9bd;
	transform: translateX(-50%);
}

.trend-section-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;        
}

.trend-post {
	position: relative;
	display: flex;
	align-items: flex-end;
	width: calc(25% - 3px);
	min-height: 318px;
	padding: 16px 18px;
	box-sizing: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;        
}

.trend-post::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.6;
}

.trend1 {
	background-image: url(../images/trend1.jpg);
}
.trend2 {
	background-image: url(../images/trend2.jpg);
}
.trend3 {
	background-image: url(../images/trend3.jpg);
}
.trend4 {
	background-image: url(../images/trend4.jpg);
}

.trend-post-header {
	z-index: 1;
	width: 100%;
	padding: 35px 30px;
	box-sizing: border-box;
	border: 3px solid rgba(181, 159, 91, 0.6);	
}

.post-title {
	margin: 15px 0 0;	
}

.post-title a {
	display: block;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 24px;
	color: #ffffff;	
}

.post-title a:hover {
	color: #b59f5b;
}

/*стили MAIN*/

.page-wrap {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 64px 0 0;
}

.main {
	width: 778px;
}

.post {
	display: flex;
	justify-content: space-between;
	
}

.post:nth-child(n+2) {
	margin-top: 60px;
}

.post-image {
	width: 381px;
	background-color: #eff5f1;
}

.post-image img {
	display: block;
	width: 100%;
}

.post-header {
	width: 367px;
}

.post-tags {
	display: flex;
	flex-wrap: wrap;
}

.post-tags-link {
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #b59f5b;	
}

.post-tags-link:hover {
	text-decoration: underline;
}

.post-tags-item {
	list-style-type: none;
}

.post-tags-item:not(:last-child) {
	margin-right: 17px;
}

.main-post-title {
	margin-bottom: 35px;	
}
.main-post-title a {
	color: #0f0d0e;
}

.post-meta {
	font-size: 12px;
	margin-bottom: 50px;
}

.post-date {
	margin-right: 13px;
	font-weight: 400;
	color: #888888;
}

.post-author {
	font-weight: 700;
}

.post-text {
	position: relative;
	font-weight: 400;
	color: #0f0d0e;
	z-index: 1;
}

.post-text>p {
	font-size: 15px;
	line-height: 22px;	
}

.post-text>p:not(:first-child) {
	margin-top: 16px;
}

/*стили ASIDE*/

.aside {
	width: 272px;
}

.aside-section:nth-child(n+2) {
	margin-top: 60px;
}

.aside-section-title {
	padding: 0 0 35px;
	font-size: 14px;	
}

.aside-section-title::after {
	top: 28px;	
}
/*НОВЫЕ ПОСТЫ*/

.last-post {
	display: flex;
	justify-content: space-between;
}

.last-post:nth-child(n+3) {
	margin-top: 22px;
}

.last-post-image img {
	display: block;
}

.last-post-header {
	width: 184px;
}

.last-post-date {
	display: block;
	font-weight: 400;
	font-size: 12px;
	opacity: 0.54;
}

.last-post-title {
	margin: 0;
	line-height: 16px;
}

.last-post-title a {
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.last-post-title a:hover {
	color: #b59f5b;
}

/*ПОИСК*/

.search {
	display: flex;
}

.search-field {
	width: 224px;
	height: 48px;
	padding: 0 3px 0 20px;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 400;
	border: 1px solid transparent;
	background-color: #f4f7f6;
}

.search-field::placeholder {
	opacity: 0.54;
}

.search-field:focus {
	border-color: #b59f5b;
	border-right: transparent;
	outline: none;
}

.search-button {
	width: 48px;
	padding: 0;
	background: url(../svg/search.svg) center no-repeat;
	background-color: #b59f5b;
	background-size: 18px;
	border: none;
	cursor: pointer;
}

.search-button:hover {
	background-color: #323232;
}
/*РАССЫЛКА*/

.subscribe-field {
	display: block;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	margin-bottom: 18px;
	padding: 0 3px 0 20px;
	font-size: 13px;
	font-weight: 400;
	border: 1px solid transparent;
	background-color: #f4f7f6;
}

.subscribe-field::placeholder {
	opacity: 0.54;
}

.subscribe-field:focus {
	border-color: #b59f5b;
	outline: none;
}

.subscribe-button {
	position: relative;
	width: 100%;
	height: 48px;
	padding: 0;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #b59f5b;
	border: none;
	cursor: pointer;
	z-index: 1;
}

.subscribe-button:hover {
	background-color: #323232;
}
/* ТЕГИ*/

.tags-list {
	display: flex;
	flex-wrap: wrap;
}

.tags-list-item {
	margin: 0 5px 5px 0;
	list-style-type: none;
	border: 3px solid #ededed;
}

.tags-list-link {
	display: block;
	padding: 5px 12px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #0f0d0e;	
}

.tags-list-link:hover {
	border-color: #b59f5b;
}
/*ТЕМЫ*/

.themes-list-item {
	line-height: 47px;
	list-style-type: none;
	border-bottom: 1px solid #eeeeee;
}

.themes-link {
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
}

.themes-link:hover {
	color: #b59f5b;
}

.themes-number {
	margin-left: 4px;
	font-weight: 700;
	font-size: 12px;
	vertical-align: super;
	color: #b59f5b;
}

/*SHOP section */

.shop-section {
	margin-bottom: 64px;
}

.shop-section-wrap {
	display: flex;
	justify-content: space-between;		
}

.shop-card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 348px;
	padding: 0 24px 30px;	
	box-sizing: border-box;
}

.shop-card img {
	display: block;
	width: 100%;	
}

.shop-card-header {
	position: relative;
	flex-grow: 1;
	width: 100%;
	box-sizing: border-box;	
}

.shop-card-header::after {
	content: "";
	position: absolute;
	box-sizing: border-box;
	top: -30px;
	right: -24px;
	left: -24px;
	bottom: -30px;
	border: 3px solid rgba(181, 159, 91, 0.6);
}
.shop-card-title {
	position: relative;
	margin: 20px 0 15px;
	z-index: 1;
	
}

.shop-card-title a {
	color: #0f0d0e;
}

.post-text a {
	color: #b59f5b;
	text-decoration: none;
}

.post-text a:hover {
	text-decoration: underline;
}

.shop-card-footer {
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin-top: 20px;
	color: #0f0d0e;
}

.shop-card-prices {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 8px;
	font-weight: 700;
	line-height: 16px;
}

.shop-price-old>span {
	font-size: 14px;
	text-decoration: line-through;
}

.shop-price-actual>span {
	font-size: 20px;
}

.shop-card-button {
	width: 140px;
	height: 50px;	
}

/*footer*/

.icons-wrap {
	padding: 32px 0;
	background-color: #f4f7f6;
}

.icons-list {
	display: flex;
	justify-content: center;
}

.icons-list a {
	display: block;
	width: 20px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
}

.icons-list-item {
	list-style-type: none;
}

.icons-list-item:nth-child(n+2) {
	margin-left: 12px;
}

.twitter-link {
	background-image: url(../svg/004-twitter.svg);
}

.pinterest-link {
	background-image: url(../svg/001-pinterest.svg);
}

.facebook-link {
	background-image: url(../svg/002-facebook-logo.svg);
}

.inst-link {
	background-image: url(../svg/005-instagram.svg);
}

.tumblr-link {
	background-image: url(../svg/003-tumblr.svg);
}

.copyright {
	padding: 74px 0 40px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}

.copyright a {
	text-decoration: none;
	color: #999999;
}

/*popup*/

 .popup {
	position: fixed;
	display: flex;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

._hidden {
	display: none;
}

.popup-container {
	position: relative;
	width: 390px;
	margin: auto;
	padding: 0 30px 54px;
	box-sizing: border-box;
	font-size: 13px;
	background-color: #ffffff;
}

.popup-container::after {
	content: "";
	position: absolute;
	top: -24px;
	right: 0;
	width: 18px;
	height: 18px;
	background: url(../svg/form-x.svg) center no-repeat;
}

.popup-select {
	width: 100%;
	height: 48px;
	padding: 0 18px;
	margin-bottom: 26px;
	color:rgba(0, 0, 0, 0.54);
	box-sizing: border-box;
	border-width: 0;
	background: url(../svg/form-arrows.svg) no-repeat #f4f7f6;
	background-size: 9px 18px;
	background-position: right 15px center;
	-webkit-appearance: none;
	-moz-appearance: none;	
}

.popup-select:focus, .popup-textarea:focus  {
	outline: 1px solid #b59f5b;
}

.popup-group span {
	display: block;
	margin-bottom: 10px;
}

.popup-radio-box {
	margin-right: 15px;
}

.popup-radio {
	display: none;
}

.popup-radio + span {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.popup-radio + span::before {
	content: "";
	position: absolute;
	left: -22px;
	top: 0;
	width: 18px;
	height: 18px;
	background: url(../svg/form-empty-circle.svg) center no-repeat;
	background-size: cover;
}

.popup-radio:checked + span::after {
	content: "";
	position: absolute;
	left: -22px;
	top: 0;
	width: 18px;
	height: 18px;
	background: url(../svg/form-circle.svg) center no-repeat;
	background-size: cover;
}

.popup-textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 130px;
	max-height: 250px;
	padding: 15px 20px;
	margin-bottom: 25px;
	box-sizing: border-box;
	background-color: #f4f7f6;
	border-width: 0;
}

/*TABLET*/

@media (min-width: 641px) and (max-width: 1200px) {
	
	/*header*/
	
	.header {
		background-image: url(../images/banner-bg-tablet.jpg);
	}
	
	.header-wrap {
		padding: 43px 35px;
	}
	
	.logo {
		width: 158px;
		height: 36px;
	}
	
	.menu-list {
		display: none;
	}
	
	.adaptive-menu {
		display: flex;
		
	}
	
	.header-title {
		max-width: 600px;
		padding: 80px 0;
		font-size: 40px;
		line-height: 55px;
	}
	
	/*trends*/
	
	.trend-section-title {
		padding: 45px 0 30px;
		font-size: 18px;
	}
	
	.trend-section-title::after {
		top: 80px;
	}
	
	.post-title a {
		font-size: 17px;
		line-height: 22px;
	}
	
	/*content*/
	
	.page-wrap {
		padding: 0 35px;
	}
	
	.content {
		padding: 50px 0 0;
	}
	
	.main {
		width: auto;
	}
	
	.post {
		flex-wrap: wrap;
	}
	
	.post-image {
		width: 100%;
		margin-bottom: 15px;
	}
	
	.post-header {
		width: 100%;
	}
	
	.post-meta {
		margin-bottom: 35px;
	}
	
	.post:nth-child(n+2) {
		margin-top: 40px;
	}
	
	.post:not(:last-child) {
		padding-bottom: 15px;
		border-bottom: 3px solid #eeeeee;
	}
	
	/*aside*/
	
	.aside {
		margin-left: 35px;
	}
	
	.last-post-title {
		line-height: 18px;
	}
	
	/*shop*/
	.shop-section {
		margin-bottom: 50px;
	}
	
	.shop-section-title {
		padding-top: 65px;
	}
	
	.shop-section-title:after {
		top: 100px;
	}
	
	.shop-section-wrap {
		flex-wrap: wrap;
	}
	
	.shop-card {
		width: calc(50% - 10px);
	}
	
	.shop-card:nth-child(n+3) {
		margin-top: 28px;
	}
	
	/*footer*/
	
	.copyright {
		padding: 48px 0 35px;
	}
	
	/*popup*/
	
	.popup-container::after {
		top: -34px;
		width: 28px;
		height: 28px;
	}
	
	.popup-title {
		padding: 50px 0 40px;
		font-size: 18px;
	}
	
}
/*trends portrait*/
@media (orientation: portrait) and (min-width: 641px) and (max-width: 1200px) {
	.trend-post {
		width: calc(50% - 2px);
		min-height: 247px;	
	}
	
	.trend-post:nth-child(n+3) {
		margin-top: 4px;
	}
} 

/*MOBILE*/

@media (max-width: 640px) {
	
	/*header*/
	
	.header {
		background-image: url(../images/banner-mobile.jpg);
	}
	
	.header-wrap {
		padding: 30px 15px;
	}
	
	.header-nav {
		flex-direction: column-reverse;
		height: 252px;		
	}
	
	.menu-list {
		display: none;
	}
	
	.menu {
		align-self: flex-end;
	}
	
	.adaptive-menu {
		display: flex;		
	}
	
	.logo {
		width: 270px;
		height: 60px;
	}
	
	.header-title {
		padding: 36px 15px 210px;
		font-size: 26px;
		line-height: 36px;
	}
	
	/*trends*/
	
	.trend-section-title {
		font-size: 16px;
		padding: 35px 0;
	}
	
	.trend-section-title::after {
		top: 65px;
	}
	
	.trend-post {
		width: calc(50% - 2px);
		min-height: 230px;
		padding: 15px;		
	}
	
	.trend-post:nth-child(n+3) {
		margin-top: 4px;
	}
	
	.trend-post-header {
		padding: 30px 20px;
	}
	
	.trend-post-title {
		margin-top: 5px;
	}
	
	.post-title a {
		font-size: 16px;
		line-height: 20px;
	}
	
	/*content*/
	
	.page-wrap {
		padding: 0 15px;
	}
	
	.content {
		flex-direction: column;
		padding: 40px 0 0;
	}
	
	.main {
		width: auto;
		margin-bottom: 60px;
	}
	
	.post {
		flex-direction: column;
	}
	
	.post:not(:last-child) {
		padding-bottom: 20px;
		border-bottom: 3px solid #eeeeee;
	}
	
	.post:nth-child(n+2) {
		margin-top: 35px;
	}
	
	.post-image {
		width: 100%;
		margin-right: 15px;
	}
	
	.post-header {
		width: auto;
	}
	
	.post-tags {
		margin-top: 10px;
	}
	
	.post-text>p {
		font-size: 14px;
		line-height: 20px;
	}
	
	.post-text > p:not(:first-child) {
		margin-top: 12px;
	}
	
	.main-post-title {
		margin: 10px 0 20px;
	}
	
	.post-meta {
		margin-bottom: 20px;
	}
	
	/*aside*/
	
	.aside {
		width:100%;
	}
	
	.aside-section:nth-child(n+3) {
		margin-top: 40px;
	}
	
	.aside-section-title {
		padding-bottom: 40px;
		font-size: 16px;
	}
	
	.aside-section-title::after {
		top: 33px;
	}
	
	.last-post {
		justify-content: flex-start;
	}
	
	.last-post-header {
		width: auto;
		margin-left: 15px;
	}
	
	.search-field {
		flex-grow: 1;
		width: auto;
		padding-left: 16px;
	}
	
	/*shop*/
	
	.shop-section {
		margin-bottom: 44px;
	}
	
	.shop-section-title {
		padding: 40px 0;
		font-size: 16px;
	}
	
	.shop-section-title:after {
		top: 75px;
	}
	
	.shop-section-wrap {
		flex-direction: column;
	}
	
	.shop-card {
		width:auto;
		padding: 0 20px 30px;
	}
	
	.shop-card:nth-child(n+2) {
		margin-top: 25px;
	}
	
	.shop-card-title a {
		font-size: 17px;
		line-height: 22px;
	}
	
	.shop-text {
		font-size: 15px;
		line-height: 22px;
	}
	
	.shop-card-header::after {
		left: -20px;
		right: -20px;
	}
	
	.copyright {
		padding: 46px 0 46px;
	}
	
	/*popup*/
	
	.popup-container {
		top: 55px;
		width: calc(100% - 30px);
		padding: 0 25px 30px;
	}
	
	.popup-container::after {
		top: -34px;
		width: 28px;
		height: 28px;
	}
	
	.popup-title {
		padding: 25px 0 40px;
	}
	
	.popup-title::after {
		top: 65px;
	}	
}

/*trends portrait*/

@media (orientation: portrait) and (max-width: 640px) {
	.trend-section-wrap {
		flex-direction: column;
	}
	
	.trend-post {
		width: 100%;
	}
	
	.trend-post:nth-child(n+2) {
		margin-top: 4px;
	}
	
}

/*popup - общие стили для TABLET и MOBILE*/

@media (max-width: 1200px) {
	.popup-radio + span {
		margin-left: 30px;
		margin-bottom: 30px;
	}
	
	.popup-radio + span::before, .popup-radio + span::after, .popup-radio:checked + span::after {
		left: -30px;
		top: -4px;
		width: 25px;
		height: 25px;
	}
	
	.popup-radio-box {
		margin-right: 30px;
	}
}


